<!-- api/views/pages/kanban.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kanban Board</title>
  <style>
    @font-face {
      font-family: 'Gotham';
      src: url('/fonts/gotham/gotham-thin.woff2') format('woff2'),
        url('/fonts/gotham/gotham-thin.woff') format('woff'),
        url('/fonts/gotham/gotham-thin.ttf') format('truetype');
      font-weight: 100;
      /* Thin */
      font-style: normal;
    }

    @font-face {
      font-family: 'Gotham';
      src: url('/fonts/gotham/gotham-extralight.woff2') format('woff2'),
        url('/fonts/gotham/gotham-extralight.woff') format('woff'),
        url('/fonts/gotham/gotham-extralight.ttf') format('truetype');
      font-weight: 200;
      /* ExtraLight */
      font-style: normal;
    }

    @font-face {
      font-family: 'Gotham';
      src: url('/fonts/gotham/gotham-light.woff2') format('woff2'),
        url('/fonts/gotham/gotham-light.woff') format('woff'),
        url('/fonts/gotham/gotham-light.ttf') format('truetype');
      font-weight: 300;
      /* Light */
      font-style: normal;
    }

    @font-face {
      font-family: 'Gotham';
      src: url('/fonts/gotham/gotham-book.woff2') format('woff2'),
        url('/fonts/gotham/gotham-book.woff') format('woff'),
        url('/fonts/gotham/gotham-book.ttf') format('truetype');
      font-weight: 400;
      /* Book */
      font-style: normal;
    }

    @font-face {
      font-family: 'Gotham';
      src: url('/fonts/gotham/gotham-medium.woff2') format('woff2'),
        url('/fonts/gotham/gotham-medium.woff') format('woff'),
        url('/fonts/gotham/gotham-medium.ttf') format('truetype');
      font-weight: 500;
      /* Medium */
      font-style: normal;
    }

    @font-face {
      font-family: 'Gotham';
      src: url('/fonts/gotham/gotham-bold.woff2') format('woff2'),
        url('/fonts/gotham/gotham-bold.woff') format('woff'),
        url('/fonts/gotham/gotham-bold.ttf') format('truetype');
      font-weight: 700;
      /* Bold */
      font-style: normal;
    }

    @font-face {
      font-family: 'Gotham';
      src: url('/fonts/gotham/gotham-black.woff2') format('woff2'),
        url('/fonts/gotham/gotham-black.woff') format('woff'),
        url('/fonts/gotham/gotham-black.ttf') format('truetype');
      font-weight: 900;
      /* Black */
      font-style: normal;
    }

    @font-face {
      font-family: 'Gotham';
      src: url('/fonts/gotham/gotham-ultra.woff2') format('woff2'),
        url('/fonts/gotham/gotham-ultra.woff') format('woff'),
        url('/fonts/gotham/gotham-ultra.ttf') format('truetype');
      font-weight: 950;
      /* Ultra */
      font-style: normal;
    }

    header {
      height: 5rem;
      background-color: #280659;
      display: flex;
      align-items: center;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 24px;
    }


    header nav {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }

    header nav a {
      display: flex;
      align-items: center;
      /* Alinha o ícone e o texto verticalmente */
      padding: 5px 15px;
      /* Espaçamento interno dos links */
      text-decoration: none;
      /* Remove sublinhado dos links */
      color: #FFF;
      /* Cor do texto */
      gap: 8px;
      /* Espaçamento entre o ícone e o texto */
      cursor: pointer;
      /* Define o cursor como pointer ao passar por cima */
      transition: background-color 0.3s ease;
      /* Suaviza a transição de cor de fundo */
      font-weight: 400;
    }


    header nav a:hover {
      background-color: #F54952;
      /* Cor de fundo ao passar o mouse */
      color: #FFF;
      /* Cor do texto ao passar o mouse (opcional) */
      border-radius: 8px;
    }

    header nav p {
      margin-block-start: 0;
    }

    body {
      background-color: #f4f4f4;
      margin: 0;
      font-family: Gotham, Sans-serif;
      min-height: 100vh
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-y: auto;
    }

    h1,
    h2 {
      color: #333;
      pointer-events: none;
      text-align: center;
    }



    .board {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
      overflow-y: hidden;
      height: auto;
    }

    .column {
      width: 30%;
      padding: 10px;
      background-color: #AE2D68;
      border-radius: 30px;
      min-height: 40rem;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.40);
      height: auto;
      overflow-y: visible;
      height: auto;
      border: 1px, solid, black;
    }

    .column h2 {
      text-align: center;
      color: white;
      padding: 6px;
      border-radius: 10px;
      font-weight: 400;
      border: 0.3px, solid, #422680;
    }

    .task {
      background-color: #E9ECEF;
      width: 80%;
      padding: 15px 40px;
      margin-bottom: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.40);
      cursor: move;
      word-wrap: break-word;
      white-space: normal;
      border-radius: 20px;
    }

    .task h3 {
      text-align: center;
      font-weight: 600;
      background-color: #422680;
      color: #E9ECEF;
      width: 100%;
      border-radius: 10px;
    }

    form {
      margin-bottom: 10px;
    }

    input,
    select,
    button {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    button {
      background-color: #422680;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 40px;
    }

    button:hover {
      background-color: #2f5ddb;
    }

    /* Botão de Excluir */
    .delete-btn {
      background-color: #422680;
      margin-top: 10px;
      width: 30%;
      margin-left: 20.5rem;
      border-radius: 30px;

    }

    .delete-btn:hover {
      background-color: #e70d0d;
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
      padding-top: 60px;
    }

    @keyframes border-blink {
      0% {
        border-color: #6814df;
      }

      50% {
        border-color: #AE2D68;
      }

      100% {
        border-color: #6814df;
      }
    }

    @keyframes modal-fade-in {
      from {
        opacity: 0;
        transform: scale(0.8);
      }

      to {
        opacity: 1;
        transform: scale(1);
      }
    }

    .modal-content {
      background-color: #fefefe;
      margin: 5% auto;
      padding: 20px;
      border: 3px solid #6814df;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.40);
      width: 80%;
      max-width: 500px;
      border-radius: 10px;
      animation: border-blink 1s infinite, modal-fade-in 0.5s ease-out;
    }


    .form-group {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    .form-group label {
      width: 30%;
      font-weight: bold;
      margin-right: 10px;
      text-align: right;
    }

    .form-group input,
    .form-group select {
      width: 65%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    .modal-content label {
      color: #422680;
    }


    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    /* Estilos adicionais para botões e formulários */

    button#openModalBtn {
      width: 2rem;
      margin-left: 2rem;
      margin-bottom: 1.5rem;

      height: fit-content;
      font-weight: 500;
      background-color: #F54952;
      color: #fff;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      align-self: flex-end;
    }

    button#openModalBtn:hover {
      background-color: #47C931;
    }

    .titleKanban {
      display: flex;
      margin-left: 3rem;

    }

    .titleKanban h1 {
      font-weight: 600;
      color: #660F56
    }

    .task.dragging {
      opacity: 0.5;
      transform: scale(1.05);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    }

    .task.dropped {
      transform: scale(1);
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    }
  </style>
</head>

<body>
  <header>
    <nav>
      <a href="/home">
          <img src="images/icon-home.svg" alt="Home Icon">
      </a>
      <a href="/kanban">
          <img src="images/icon-kanban.svg" alt="Kanban Icon">
          <p>Company Kanban's</p>
      </a>
      <a href="/myprofile">
          <img src="images/icon-mysection.svg" alt="My Section Icon">
          <p>My section</p>
      </a>
      <a href="/faq">
          <img src="images/icon-faq.svg" alt="FAQ Icon">
          <p>FAQ</p>
      </a>
      <% if(user.usertype === "admin"){ %>
      <a href="/admin">
          <img src="/adm.svg" alt="ADM Icon">
          <p>Admin</p>
      </a>
      <% } %>
  </nav>
  </header>

  <div class="titleKanban" id="titleKanban">
    <h1>Kanban Board - <%= companyUser.name %> - <%= board.name %>
    </h1>

    <button id="openModalBtn" class="botaoCriarTask">+</button>

    <!-- Estrutura do Modal -->
    <div id="taskModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Create a New Task</h2>
        <form action="/task/create" method="POST">
          <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
          </div>

          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
          </div>

          <div class="form-group">
            <label for="difficulty">Difficulty:</label>
            <select id="difficulty" name="difficulty">
              <option value="easy">Easy</option>
              <option value="medium">Medium</option>
              <option value="hard">Hard</option>
            </select>
          </div>

          <div class="form-group">
            <label for="assignedTo">Assigned To:</label>
            <select id="assignedTo" name="assignedTo" required>
              <% users.forEach(function(user) { %>
                <option value="<%=user.firstName %> <%= user.lastName%>">
                  <%=user.firstName %>
                    <%= user.lastName%>
                </option>
                <% }) %>
            </select>
          </div>

          <input type="hidden" id="boardId" name="boardId" value="<%= board.id %>">
          <input type="hidden" id="roomId" name="roomId" value="<%= roomId %>">
          <button id="create-task-btn" type="submit">Create Task</button>
        </form>
      </div>
    </div>
  </div>


  <!-- Modal Structure -->
  <div id="videoConferenceModal" class="modal">
    <div class="modal-content">
      <h2>Join Video Conference</h2>
      <p>Do you want to join the video conference for this board?</p>
      <button id="joinVideoConferenceBtn" class="join-btn">Join Video Conference</button>
      <button id="declineVideoConferenceBtn" class="decline-btn">Don't Join</button>
    </div>
  </div>


  <div class="board" id="board">
    <!-- Coluna To Do -->
    <div id="todo" class="column todo" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h2 draggable="false" ondragstart="return false;" ondragover="return false;">To Do</h2>
      <% tasks.forEach(function(task) { if (task.status==='todo' ) { %>
        <div class="task" id="task-<%= task.id %>" draggable="true" ondragstart="drag(event)">
          <h3>
            <%= task.title %>
          </h3>
          <p>
            <strong>Description:</strong>
            <%= task.description %>
          </p>
          <p><strong>Difficulty:</strong>
            <%= task.difficulty %>
          </p>
          <p><strong>Assigned:</strong>
            <%= task.assignedTo %>
          </p>
          <!-- Botão de Excluir -->
          <form action="/task/delete/<%= task.id %>" method="POST">
            <button type="submit" class="delete-btn">Excluir</button>
          </form>
        </div>
        <% } }); %>
    </div>

    <!-- Coluna In Progress -->
    <div id="in-progress" class="column in-progress" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h2>In Progress</h2>
      <% tasks.forEach(function(task) { if (task.status==='in-progress' ) { %>
        <div class="task" id="task-<%= task.id %>" draggable="true" ondragstart="drag(event)">
          <h3>
            <%= task.title %>
          </h3>
          <p>
            <%= task.description %>
          </p>
          <p>Dificuldade: <%= task.difficulty %>
          </p>
          <p>Responsável: <%= task.assignedTo %>
          </p>
          <!-- Botão de Excluir -->
          <form action="/task/delete/<%= task.id %>" method="POST">
            <button type="submit" class="delete-btn">Excluir</button>
          </form>
        </div>
        <% } }); %>
    </div>

    <!-- Coluna Done -->
    <div id="done" class="column done" ondrop="drop(event)" ondragover="allowDrop(event)">
      <h2>Done</h2>
      <% tasks.forEach(function(task) { if (task.status==='done' ) { %>
        <div class="task" id="task-<%= task.id %>" draggable="true" ondragstart="drag(event)">
          <h3>
            <%= task.title %>
          </h3>
          <p>
            <%= task.description %>
          </p>
          <p>Dificuldade: <%= task.difficulty %>
          </p>
          <p>Responsável: <%= task.assignedTo %>
          </p>
          <!-- Botão de Excluir -->
          <form action="/task/delete/<%= task.id %>" method="POST">
            <button type="submit" class="delete-btn">Excluir</button>
          </form>
        </div>
        <% } }); %>
    </div>
  </div>

  <div id="footer" style="margin: 10px;">
  </div>
  <!-- Botão para abrir o modal -->

  <script>
    // assets/js/script.js

    var modal = document.getElementById("taskModal");
    var openModalBtn = document.getElementById("openModalBtn");
    var closeBtn = document.getElementsByClassName("close")[0];

    // Abre o modal quando o usuário clica no botão
    openModalBtn.onclick = function () {
      modal.style.display = "block";
    }

    // Fecha o modal quando o usuário clica no X
    closeBtn.onclick = function () {
      modal.style.display = "none";
    }

    // Fecha o modal quando o usuário clica fora dele
    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
      ev.target.classList.add("dragging");
    }

    function drop(ev) {
      ev.preventDefault();
      const data = ev.dataTransfer.getData("text");
      const taskElement = document.getElementById(data);

      let targetColumn = ev.target;
      // Verifica se o alvo é uma coluna
      if (!targetColumn.classList.contains('column')) {
        targetColumn = ev.target.closest('.column');
      }

      if (targetColumn) {
        targetColumn.appendChild(taskElement);

        // Remove a classe .dragging e adiciona a classe .dropped após o drop
        taskElement.classList.remove("dragging");
        taskElement.classList.add("dropped");

        // Remove a classe .dropped após a animação
        setTimeout(() => {
          taskElement.classList.remove("dropped");
        }, 200); // Duração da animação em ms

        // Atualiza o status no servidor
        let newStatus = targetColumn.id;

        const taskId = taskElement.id.split('-')[1];
        fetch('/task/update-status', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ roomId: '<%= roomId %>', id: taskId, status: newStatus })
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            console.log('Task updated:', data);
          })
          .catch(error => {
            console.error('Error updating task:', error);
            const originalColumn = document.querySelector(`.column.${taskElement.dataset.originalStatus}`);
            if (originalColumn) {
              originalColumn.appendChild(taskElement);
            }
          });
      }
    }

    function scrollToBottom(container) {
      container.scrollTop = container.scrollHeight;
    }


  </script>


  <!-- Modal Trigger Superviz connection -->
  <script type="module">

    // Show the modal when the page loads
    window.onload = function () {
      const modal = document.getElementById('videoConferenceModal');
      modal.style.display = "block";
      initializeRoom('<%= roomId %>', '<%= companyUser.id %>', '<%= board.name %>', '<%= userId %>', '<%= userName %>');
    };

    // Handle the join video conference button click
    document.getElementById('joinVideoConferenceBtn').addEventListener('click', function () {
      joinVideoConference();
    });

    // Handle the decline button click
    document.getElementById('declineVideoConferenceBtn').addEventListener('click', function () {
      const modal = document.getElementById('videoConferenceModal');
      modal.style.display = "none";
    });


    function cardMoved(params) {
      console.log('moved', params)
      // const taskElement = document.getElementById(params.data.id);
      const task = document.getElementById(`task-${params.data.id}`)

      // Encontre a coluna de destino
      let targetColumnStatus = params.data.status;
      let targetColumn = document.getElementById(targetColumnStatus)
      console.log(targetColumn);
      if (targetColumn) {
        targetColumn.appendChild(task);
      }
    }

    // Task created
    var modal = document.getElementById("taskModal");
    document.getElementById('create-task-btn').addEventListener('click',
      function (event) {
        // Prevent default form submission
        event.preventDefault();

        // Close the modal (if applicable)
        modal.style.display = "none";

        // Collect form data
        const title = document.getElementById('title').value;
        const description = document.getElementById('description').value;
        const difficulty = document.getElementById('difficulty').value;
        const assignedTo = document.getElementById('assignedTo').value;
        const roomId = document.getElementById('roomId').value;
        const boardId = document.getElementById('boardId').value;

        // Create an object with the data
        const taskData = {
          title: title,
          description: description,
          difficulty: difficulty,
          assignedTo: assignedTo,
          roomId: roomId,
          boardId: boardId
        };

        fetch('/task/create', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(taskData)
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            return response.json();
          })
          .then(data => {
            console.log('Task created:', data);
          })
          .catch(error => {
            console.error('Error creting task:', error);
          });

      });
      
    function cardCreated(params) {
      console.log('created: ', params);

      // Create a new task element
      const taskElement = document.createElement('div');
      taskElement.className = 'task';
      taskElement.id = `task-${params.data.id}`;
      taskElement.draggable = true;
      taskElement.ondragstart = (event) => drag(event);

      // Add the task details
      taskElement.innerHTML = `
        <h3>${params.data.title}</h3>
        <p>Description: ${params.data.description}</p>
        <p>Difficulty: ${params.data.difficulty}</p>
        <p>Assigned: ${params.data.assignedTo}</p>
        <form action="/task/delete/${params.data.id}" method="POST">
          <button type="submit" class="delete-btn">Excluir</button>
        </form>
  `;

      // Append the task to the "To Do" column
      const todoColumn = document.getElementById('todo');
      if (todoColumn) {
        todoColumn.appendChild(taskElement);
      }
    }

    import SuperVizRoom, { VideoConference, Realtime, RealtimeComponentEvent, RealtimeComponentState, WhoIsOnline, MousePointers } from "https://unpkg.com/@superviz/sdk@latest";
    let room;  // Make the room variable accessible to all functions
    async function initializeRoom(roomId, companyId, roomName, userId, userName) {
      console.log("Room id: ", roomId);
      try {
        room = await SuperVizRoom('rwnm19hh75ompvxg6qaviczpp56i97', {
          roomId: roomId,
          group: {
            id: companyId,
            name: roomName,
          },
          participant: {
            id: userId,
            name: userName,
          },
        });

        const realtime = new Realtime();
        room.addComponent(realtime);
        realtime.subscribe(RealtimeComponentEvent.REALTIME_STATE_CHANGED, (state) => {
          if (state === RealtimeComponentState.STARTED) {
            const channel = realtime.connect('board');

            channel.subscribe('updateStatus', cardMoved)
            channel.subscribe('create', cardCreated)
          }
        });

        initializeWhoIsOnline();
        initializeMousePointers();

        console.log("Room initialized successfully.");
      } catch (error) {
        console.error('Error initializing room:', error);
        alert('Failed to initialize the room.');
      }
    }

    function initializeWhoIsOnline() {
      try {
        const whoIsOnline = new WhoIsOnline({
          position: "footer"
        });
        room.addComponent(whoIsOnline);
        console.log("WhoIsOnline component initialized.");
      } catch (error) {
        console.error('Error initializing WhoIsOnline:', error);
      }
    }

    function initializeMousePointers() {
      try {
        const canvasId = "board";
        const mousePointer = new MousePointers(canvasId);
        room.addComponent(mousePointer);
        console.log("MousePointers component initialized.");
      } catch (error) {
        console.error('Error initializing MousePointers:', error);
      }
    }

    function joinVideoConference() {
      try {
        const video = new VideoConference({
          participantType: 'host',
          styles: ``,
          collaborationMode: {
            position: "bottom",
            initialView: "list"
          },
        });
        room.addComponent(video);

        const modal = document.getElementById('videoConferenceModal');
        modal.style.display = "none";

        console.log("Joined the video conference successfully.");
      } catch (error) {
        console.error('Error joining video conference:', error);
        alert('Failed to join the video conference.');
      }
    }

  </script>
</body>

</html>