<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <style>
        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-thin.woff2') format('woff2'),
                url('/fonts/gotham/gotham-thin.woff') format('woff'),
                url('/fonts/gotham/gotham-thin.ttf') format('truetype');
            font-weight: 100;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-extralight.woff2') format('woff2'),
                url('/fonts/gotham/gotham-extralight.woff') format('woff'),
                url('/fonts/gotham/gotham-extralight.ttf') format('truetype');
            font-weight: 200;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-light.woff2') format('woff2'),
                url('/fonts/gotham/gotham-light.woff') format('woff'),
                url('/fonts/gotham/gotham-light.ttf') format('truetype');
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-book.woff2') format('woff2'),
                url('/fonts/gotham/gotham-book.woff') format('woff'),
                url('/fonts/gotham/gotham-book.ttf') format('truetype');
            font-weight: 400;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-medium.woff2') format('woff2'),
                url('/fonts/gotham/gotham-medium.woff') format('woff'),
                url('/fonts/gotham/gotham-medium.ttf') format('truetype');
            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-bold.woff2') format('woff2'),
                url('/fonts/gotham/gotham-bold.woff') format('woff'),
                url('/fonts/gotham/gotham-bold.ttf') format('truetype');
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-black.woff2') format('woff2'),
                url('/fonts/gotham/gotham-black.woff') format('woff'),
                url('/fonts/gotham/gotham-black.ttf') format('truetype');
            font-weight: 900;
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-ultra.woff2') format('woff2'),
                url('/fonts/gotham/gotham-ultra.woff') format('woff'),
                url('/fonts/gotham/gotham-ultra.ttf') format('truetype');
            font-weight: 950;
            font-style: normal;
        }

        /* Estilo global */
        body {
            font-family: 'Gotham', sans-serif;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        main {
            display: flex;
            justify-content: space-between;
        }

        header {
            height: 5rem;
            background-color: #280659;
            display: flex;
            align-items: center;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 24px;
        }

        header nav {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        header nav a {
            display: flex;
            align-items: center;
            padding: 5px 15px;
            text-decoration: none;
            color: #FFF;
            gap: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-weight: 400;
        }

        header nav a:hover {
            background-color: #F54952;
            color: #FFF;
            border-radius: 8px;
        }

        header nav p {
            margin-block-start: 0;
            margin-block-end: 0;
        }

        section {
            display: flex;
            flex-direction: column;
            padding: 200px;
            padding-top: 50px;
        }

        section .text {
            display: flex;
            flex-direction: row;
        }

        section .text h1 {
            color: #341671;
            font-size: 48px;
            font-weight: 300;
            margin: 0;
        }

        section .text h2 {
            margin: 0;
            margin-left: 8px;
            font-size: 48px;
            text-transform: uppercase;
            color: #660F56;
            font-weight: 700;
        }

        h3 {
            margin: 0;
            margin-top: 15px;
            font-size: 26px;
            font-weight: 400;
            width: 454px;
        }

        section .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 598.75px;
            padding: 50px 0px;
        }

        section .buttons a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 47px;
            width: 267.75px;
            border: 2px solid #000;
            border-radius: 60px;
            font-size: 24px;
            font-weight: 200;
            background-color: #280659;
            text-align: center;
            text-decoration: none;
            color: #FFF;
            cursor: pointer;
        }

        section .buttons a:hover {
            background-color: #FFF;
            color: #000;
        }

        section img {
            height: 282px;
        }

        .cardsCoworker {
            background-color: #660F56;
            gap: 4rem;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <a>
                <img src="images/icon-home.svg" alt="">
            </a>
            <a>
                <img src="images/icon-list.svg" alt="Descrição do SVG">
                <p>Collaboration Form</p>
            </a>
            <a href="/kanban">
                <img src="images/icon-kanban.svg" alt="Descrição do SVG">
                <p>Company Kanban's</p>
            </a>
            <a href="/myprofile">
                <img src="images/icon-mysection.svg" alt="Descrição do SVG">
                <p>My section</p>
            </a>
            <a>
                <img src="images/icon-faq.svg" alt="Descrição do SVG">
                <p>FAQ</p>
            </a>
        </nav>
    </header>

    <main>
        <div>
            <h3>Meu perfil</h3>
            <p>
                <%= user.firstName %>
            </p>
            <p>
                <%= user.lastName %>
            </p>
            <p>
                <%= user.email %>
            </p>
            <p>
                <%= user.companyId %>
            </p>

        </div>

        <div>
            <h3> Meu colegas de equipe</h3>
            <% coworkers.forEach(function(coworker){ %>
                <div class="cardsCoworker">
                    <a href="/profile/<%=coworker.id%>  ">
                        <div>
                            <% if(coworker.id===user.id){return}%>
                                <p>
                                    <%= coworker.firstName %>
                                </p>
                                <p>
                                    <%= coworker.lastName %>
                                </p>
                                <p>
                                    <%= coworker.companyId %>
                                </p>
                        </div>
                    </a>
                </div>
                <% }) %>
        </div>

    </main>

</body>

</html>