<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <style>
        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-thin.woff2') format('woff2'),
                url('/fonts/gotham/gotham-thin.woff') format('woff'),
                url('/fonts/gotham/gotham-thin.ttf') format('truetype');
            font-weight: 100;
            /* Thin */
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-extralight.woff2') format('woff2'),
                url('/fonts/gotham/gotham-extralight.woff') format('woff'),
                url('/fonts/gotham/gotham-extralight.ttf') format('truetype');
            font-weight: 200;
            /* ExtraLight */
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-light.woff2') format('woff2'),
                url('/fonts/gotham/gotham-light.woff') format('woff'),
                url('/fonts/gotham/gotham-light.ttf') format('truetype');
            font-weight: 300;
            /* Light */
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-book.woff2') format('woff2'),
                url('/fonts/gotham/gotham-book.woff') format('woff'),
                url('/fonts/gotham/gotham-book.ttf') format('truetype');
            font-weight: 400;
            /* Book */
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-medium.woff2') format('woff2'),
                url('/fonts/gotham/gotham-medium.woff') format('woff'),
                url('/fonts/gotham/gotham-medium.ttf') format('truetype');
            font-weight: 500;
            /* Medium */
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-bold.woff2') format('woff2'),
                url('/fonts/gotham/gotham-bold.woff') format('woff'),
                url('/fonts/gotham/gotham-bold.ttf') format('truetype');
            font-weight: 700;
            /* Bold */
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-black.woff2') format('woff2'),
                url('/fonts/gotham/gotham-black.woff') format('woff'),
                url('/fonts/gotham/gotham-black.ttf') format('truetype');
            font-weight: 900;
            /* Black */
            font-style: normal;
        }

        @font-face {
            font-family: 'Gotham';
            src: url('/fonts/gotham/gotham-ultra.woff2') format('woff2'),
                url('/fonts/gotham/gotham-ultra.woff') format('woff'),
                url('/fonts/gotham/gotham-ultra.ttf') format('truetype');
            font-weight: 950;
            /* Ultra */
            font-style: normal;
        }

        body {
            font-family: 'Gotham', sans-serif;
            margin: 0;
            padding: 0;
            overflow: visible;
            min-height: 100vh;
        }

        html,
        body {
            overflow: auto;
        }

        .header {
            height: 5rem;
            background-color: #280659;
            display: flex;
            align-items: center;
            padding-left: 40px;
            padding-right: 40px;
            font-size: 24px;
        }

        .header-nav {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
        }

        .header-nav a {
            display: flex;
            align-items: center;
            padding: 5px 15px;
            text-decoration: none;
            color: #FFF;
            gap: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-weight: 400;
        }

        .header-nav a:hover {
            background-color: #F54952;
            color: #FFF;
            border-radius: 8px;
        }

        .header-nav p {
            margin: 0;
        }

        .main {
            padding: 50px 40px;
        }

        .section-title {
            color: #660F56;
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 20px;
            text-align: left;
            width: 100%;
            font-weight: 400;
        }

        .user-info {
            display: flex;
            flex-direction: column;
            margin-left: 5vh;
        }

        .user-card {
            background-color: #AE2D68;
            border-radius: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            justify-content: center;
            transition: transform 0.3s ease;
            width: 800px;
            height: 90vh;
            overflow: visible;
            padding: 0
        }

        .user-card .cardd {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 70px
        }

        .user-card p {
            color: #E9ECEF;
            font-family: 'Gotham';
            font-size: 32px;
            font-weight: 400;
            margin: 0
        }

        .image {
            display: flex;
            align-items: baseline;
            margin-top: -30px
        }

        .profilei {
            border-radius: 50%;
            border: 1vh solid #341671;
            width: 400px;
            height: 400px;
            object-fit: cover;
            margin-bottom: 15px;
            position: relative;
            top: 0vh;
        }

        .image button {
            height: 80px;
            width: 100%;
            margin-left: -100px;
            border-color: transparent;
            border-radius: 20%;
            background-color: #341671;
            z-index: 3;
            transition: scale 0.4 ease;
        }

        .image button:hover {
            scale: 1.05;
        }

        .square {
            background-color: #341671;
            color: transparent;
            height: 2px;
            width: 150%;

        }

        .image button img {
            height: 75%;
            width: 83%;
        }


        .user-name {
            display: flex;
            gap: 8px
        }

        .team {
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            flex-direction: column;
            margin-right: 5vh;
        }

        .team-title {
            color: #660F56;
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 20px;
            text-align: left;
            width: 100%;
            text-shadow:
                2px 2px 0 #280659,
                -1px -1px 0 #280659,
                1px -1px 0 #280659,
                -1px 1px 0 #280659;
        }

        .team-section {
            padding: 40px;
            background-color: #AE2D68;
            border-radius: 40px;
            display: inline-block;
        }

        .team-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 8vh;
            justify-items: center;
            margin-top: 5vh;
        }

        .team-card {
            background-color: #fff;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: transform 0.3s ease;
            width: 37vh;
            height: 25vh;
            margin-top: 5vh;
            overflow: visible;
        }

        .team-card:hover {
            transform: scale(1.05);
        }

        .team-card img {
            border-radius: 50%;
            border: 1vh solid #341671;
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-bottom: -30px;
            position: relative;
            top: -8vh;
        }

        .team-card p {
            margin: 0;
            font-size: 20px;
            font-weight: 300;
            color: #000000;
            text-align: center;
            text-shadow:
                1px 1px 0 #280659,
                -1px -1px 0 #280659,
                1px -1px 0 #280659,
                -1px 1px 0 #280659;
        }

        .team-card .role {
            font-size: 20px;
            color: #660F56;
            font-weight: 500;
        }

        .team-card a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: inherit;
            /* Herda a cor do texto */
        }
        .upload{
            cursor: pointer
        }
    </style>
</head>

<body>
    <header class="header">
        <nav class="header-nav">
            <a>
                <img src="images/icon-home.svg" alt="">
            </a>
            <a>
                <img src="images/icon-list.svg" alt="Descrição do SVG">
                <p>Collaboration Form</p>
            </a>
            <a href="/kanban">
                <img src="images/icon-kanban.svg" alt="Descrição do SVG">
                <p>Company Kanban's</p>
            </a>
            <a href="/myprofile">
                <img src="images/icon-mysection.svg" alt="Descrição do SVG">
                <p>My section</p>
            </a>
            <a>
                <img src="images/icon-faq.svg" alt="Descrição do SVG">
                <p>FAQ</p>
            </a>
        </nav>
    </header>

    <main class="main">
        <!-- Título "My section" alinhado à esquerda -->
        <div class="user-info">
            <h3 class="section-title">My section</h3>
            <div class="user-card">
                <div class="image">
                    <img class="profilei" src="path_to_image/<%= user.image %>">
                    <button class="upload">
                        <img src="images/icon-upload.svg" alt="Upload" />
                    </button>
                </div>
                <div class="cardd">
                    <p>
                        <%= user.firstName %>
                            <%= user.lastName %>
                    </p>
                    <div class="square">-</div>
                    <p>
                        <%= user.email %>
                    </p>
                    <div class="square">-</div>
                    <p class="role">
                        <%= user.role %>
                    </p>
                    <div class="square">-</div>
                </div>
            </div>
        </div>

        <!-- Seção do time com o título e a área da equipe -->
        <div class="team">
            <!-- Título "My team" centralizado acima da parte roxa -->
            <h3 class="team-title">My team</h3>

            <!-- Seção da equipe -->
            <div class="team-section">
                <div class="team-grid">
                    <% coworkers.forEach(function(coworker){ %>
                        <% if(coworker.id===user.id){ return; } %>
                            <div class="team-card">
                                <a href="/profile/<%= coworker.id %>">
                                    <img src="path_to_image/<%= coworker.image %>">
                                    <p>
                                        <%= coworker.firstName %>
                                            <%= coworker.lastName %>
                                    </p>
                                    <p class="role">
                                        <%= coworker.role %>
                                    </p>
                                </a>
                            </div>
                            <% }) %>
                </div>
            </div>
        </div>
    </main>
</body>

</html>